@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&display=swap');

* {
	font-family: 'Nanum Gothic', sans-serif;
	
}
h1 {
	font-family: 'Black Han Sans', sans-serif
}

.carousel-inner > .item > img {
  margin: 0 auto;
}